<p style="color: green"><%= notice %></p>

<%= render @friend %>

<div>
  <%= link_to "Edit friend", edit_friend_path(@friend) %> |
  <%= link_to "List of friends", friends_path %>

  <%= button_to "Trash", @friend, method: :delete %>
</div>
